table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th {
    font-size: 28px;
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
    background: white;
}
td {
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
    background: white;
}

a.button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
a.button:hover { background: rgb(53, 167, 110); }
a.button:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

#form[data-state="seamen"] .hide-if-seamen {
    display: none;
}

#form[data-state="crewing"] .hide-if-crewing {
    display: none;
}

#form[data-state="shipowner"] .hide-if-shipowner {
    display: none;
}