select {
    width: 150px; /* Ширина списка в пикселах */
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th {
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
    background: white;
}
td {
    color: #080811;
    border-top: 1px solid #0b121d;
    padding: 10px 15px;
    /*background: white;*/
}
tr.delete {
    background: gray;
}
tr.no_delete {
    background: white;
}

a.button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
a.button:hover { background: rgb(53, 167, 110); }
a.button:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

a.button_select {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(28, 72, 201);
    box-shadow: 0 -3px rgb(33, 53, 158) inset;
    transition: 0.2s;
}
a.button_select:hover { background: rgb(26, 38, 139); }
a.button_select:active {
    background: rgb(26, 38, 139);
    box-shadow: 0 3px rgb(26, 38, 139) inset;
}

#form[data-state="seamen"] .hide-if-seamen {
    display: none;
}

#form[data-state="crewing"] .hide-if-crewing {
    display: none;
}

#form[data-state="shipowner"] .hide-if-shipowner {
    display: none;
}

textarea {
    resize: none;
}

.align_p * {
    vertical-align: middle;
}

.wrapper_1100 {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-color: initial;
}

.wrapper_500 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-color: initial;
}



